html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar  {
    border-bottom: 1px solid grey;
    background-color: #1b1d1f;
}

footer {
    border-top: 1px solid grey;
}

.dropdown-menu .dropdown-item:hover {
    background-color: grey; /* Ändere die Hover-Farbe nach Wunsch */
    color: white; /* Ändere die Textfarbe, wenn nötig */
}

.dropdown-menu {
    background-color: #4b5057;
}

#siteHeader {
    border-bottom: 1px solid grey;
}

.maincontainer {
    border: 1px solid grey;
    border-radius: 10px;
}

.admin-disabled {
    pointer-events: none; /* Verhindert Klicks */
    opacity: 0.5; /* Macht alles ausgegraut */
}