html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #0d1117;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar {
    border-bottom: 1px solid grey;
    background-color: #010409;
}

footer {
    border-top: 1px solid grey;
}

.dropdown-menu .dropdown-item:hover {
    background-color: grey; /* Ändere die Hover-Farbe nach Wunsch */
    color: white; /* Ändere die Textfarbe, wenn nötig */
}

.dropdown-menu {
    background-color: #4b5057;
}

.siteHeader {
    border-bottom: 1px solid grey;
}

.maincontainer {
    border: 1px solid grey;
    border-radius: 10px;
}

.admin-disabled {
    pointer-events: none; /* Verhindert Klicks */
    opacity: 0.5; /* Macht alles ausgegraut */
}


/*####################### StatusPageLayout #######################*/

.statusPageContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    height: 100vh;
    padding: 20px;
    height: auto; /* Höhe passt sich dem Inhalt an */
}

@media (max-width: 768px) {
    .statusPageContainer {
        display: block;
        text-align: center;
    }
}

.statusPageSidebar {
    background: #0d1117;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.statusPageHeader {
    grid-column: span 2;
    /* background: #151b23;*/
    color: white;
    padding: 20px;
    border-radius: 8px;
}

    .statusPageHeader h1 {
        margin-bottom: 10px;
    }

.statusPageSidebar, .main {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.styled-table {
    background-color: #0d1117;
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

    .styled-table th, .styled-table td {
        border: 1px solid grey; 
        padding: 8px; 
        text-align: left;
        border-left: none; 
        border-right: none;
    }

.rounded-box {
    border: 1px solid grey; 
    border-radius: 10px; 
    padding: 20px;
}

.custom-link {
    text-decoration: none; 
    color: #007bff; 
}

    .custom-link:hover {
        text-decoration: underline; 
        color: #0056b3; 
    }



.hidden {
    display: none;
}

.editing {
    display: block;
}


.Task_Widget {
    background: #0d1117;
    color: grey;
}



select option:checked {
    background-color: grey; 
    color: black; 
}

.custom-placeholder::placeholder {
    color: #ccc;
    opacity: 1; 
}

.message-container {
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
}

.round-img {
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
    object-fit: cover; 
}

.round-img-small {
    width: 35px; 
    height: 35px; 
    border-radius: 50%;
    object-fit: cover; 
}

.round-img-forum {
    width: 45px; 
    height: 45px; 
    border-radius: 50%;
    object-fit: cover;
}

/*#####################################LandingPage#######################################*/
.landingPage {
    display: grid;
    row-gap: 300px;
}
@media (min-width: 768px) {
    .landingPage {
       
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
    }
}
.landingPageHeader {
    grid-column: 1 / -1;
    margin-top: 50px;
    margin-bottom: -200px;
}

img {
    max-width: 500px;
    height: auto;
    
}

