@model QuestBoard.Models.ViewModes.AddTagRequest
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="py-2 mb-5" id="siteHeader">
    <div class="container">
        <h2>Add new Tags</h2>
    </div>
</div>

<div class="container">
    <!--maincontainer -->
    <form method="post">
        <div class="mb-3 mt-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control  bg-dark text-light" id="name" asp-for="Name"/>
        </div>
        <div class="mb-3">
            <label class="form-label">DisplayName</label>
            <input type="text" class="form-control bg-dark text-light" id="displayName" asp-for="DisplayName" />
        </div>
       
        <div class="mb-3">
            <button class="btn btn-success type="submit">Save</button>
        </div>
    </form>
</div>