@using Microsoft.AspNetCore.Identity
@using System.Security.Claims



@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuestBoard</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuestBoard.styles.css" asp-append-version="true" />

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body >
    <header class="sticky-top">
        <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-dark   box-shadow mb-3 ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QuestBoard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Projects
                            </a>
                            <ul class="dropdown-menu   ">
                                <li>
                                    <a class="dropdown-item text-light"
                                    asp-area=""
                                    asp-controller="Project"
                                    asp-action="Add">New Project</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-light"
                                    asp-area=""
                                    asp-controller="Project"
                                    asp-action="List">My Projects</a>
                                </li>

                            </ul>
                        </li>

                        @if (signInManager.IsSignedIn(User))
                        {
                            <li>
                                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="ProfilSettings">Settings</a>
                            </li>
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tasks
                            </a>
                            <ul class="dropdown-menu   ">
                                <li>
                                    <a class="dropdown-item text-light"
                                    asp-area=""
                                    asp-controller="Quest"
                                    asp-action="Add">New Task</a></li>
                                <li>
                                    <a class="dropdown-item text-light"
                                    asp-area=""
                                    asp-controller="Quest"
                                    asp-action="Overview">Overview</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-light"
                                    asp-area=""
                                    asp-controller="Quest"
                                    asp-action="Calender">Calender</a>
                                </li>
                            </ul>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu   ">
                                    <li>
                                        <a class="dropdown-item text-light"
                                        asp-area=""
                                        asp-controller="AdminTag"
                                        asp-action="AddTag">New Tag</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-light"
                                        asp-area=""
                                        asp-controller="AdminTag"
                                        asp-action="ListTag">Show Tag</a>
                                    </li>

                                </ul>
                            </li>
                        }
                    </ul>

                    <div class="d-flex align-items-center">
                        @if(signInManager.IsSignedIn(User))
                        {
                            <div class="me-3 text-light d-flex">
                                <div class="mt-1 me-3">@User?.Identity?.Name</div>
                                <!--//User.FindFirst(ClaimTypes.NameIdentifier)?.Value-->
                                
                                    <img class="round-img-small" src="/files/images/DefaultPicxcfInvert.png" />

                                


                            </div>

                            <a class="btn me-3 bg-light text-dark"
                            asp-area=""
                            asp-controller="Account"
                            asp-action="Logout">
                                Logout
                            </a>
                        }
                        else
                        {
                            <a class="btn me-3 bg-light text-dark"
                            asp-area=""
                            asp-controller="Account"
                            asp-action="Login">
                                Login
                            </a>
                            <a class="btn me-3 bg-light text-dark"
                            asp-area=""
                            asp-controller="Account"
                            asp-action="Register">
                                Register
                            </a>
                        }
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="container text-light">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-light">
        <div class="container">
            &copy; 2025 - QuestBoard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



